@charset "UTF-8";

.btn_main_plus {
	display:inline-block;
	padding:0 10px;
}
.btn_main_up{
	display:inline-block;
	padding:0 10px;
}
.btn_main_down {
	display:inline-block;
	padding:0 10px;
}
.save{
	display:inline-block;
	float : right;
	margin: 5px;
}
.add {
	display:inline-block;
	margin: 5px;
	float : right;
}
.button btn_blue add {
	float : right;
}

#titleImg {
	margin-bottom: 10px;
}
.clearfix2 {
	display:flex;
}

.tit {
	margin-left:80px;
	
}
.box_cnt {
	margin-top: 15px;
    margin-left: 150px;
    font-size: 12px;
    font-weight: bold
}
.list {
	list-style:inherit;
}
.list2 {
	margin-left: 20px;
	font-weight: bold;
}
.descr {
	margin-left: -20px;
	color:red;
	font-weight: bold;
}
.tit1 {
	border-right: 1px solid #ddd;
	font-weight: bold; 
}
.tbl_common.tbl_basic .tbl_wrap tr td.tit2_qwe {
	border-right: 1px solid #ddd;
	font-weight: bold;
	 
	
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbselect {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbdesc {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbsec {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbauto {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr.tbcenter {
	border:none;
}
.tbl_common.tbl_basic .tbl_wrap tr.tbbot {
	border:none;
}
.tbinput{
	width:40px; 
}
.tbdiv {
	display: inline-block;
	font-weight:bold;
	padding:0 0 0 30px;
	text-align: center;
}
.tbdiv2 {
	margin-bottom: 30px;	
}
.annbtn {
	margin-top: 20px;
	margin-bottom: 100px;
}
.annbtn2 {
	display: inline-block;
}
.tbl_common.tbl_basic .tbl_wrap tr td.align {
	text-align:center;
	width:16.6%;
}
.main_cnt_desc2 {
	display: inline-block;
	float:right;
}
.test {
	position: relative;
	bottom: 5px;
}
.left {
	float:left;
}

.com_det {
	float:right;
}
.com_Img{
	margin-top: 5px;
	margin-bottom: 10px;
}
.com_addr {
	margin: 0 10px;
	
}
.com_addr2 {
	margin: 0 140px;
}
.addr {
	width:500px;
}
.addr1 {
	width: 350px;
}
.addr2 {
	width: 350px;
}
.next {
	margin-bottom: 20px;
	float:right;
}
.allreg {
	float:left;
}
.allreg2 {
	margin-top: 5px;
}
.regdesc {
	color: #cdcdcd;
}
.regbtn {
	margin-bottom: 33px;
}
.reg {
	float:right;
	margin:5px;
	
}
.menu_tit.empreg {
	display: inline-flex;
}
.skip {
	margin-left: 10px;
}
.formdet {
	margin-bottom: 400px;
}
.holilist {
	margin-bottom: 20px;
}

.holiinput {
	display: inline-flex;
}

.holiinput1 {
	margin-right: 35px;
	margin-top: 5px;
	display: inline-flex;
}
.holiinput2 {
	margin-left: 35px;
	margin-top: 5px;
}
.holiselect {
	margin-left: 10px;
	margin-bottom: 20px;
}
.holiadd {
	float:left;
	margin-top: 10px;
	
}
.settext {
	display: inline-flex;
	margin-right: 10px;
	margin-top : 5px;
	font-weight: bold;
}

.intext {
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
}
.tbl_common.tbl_basic .tbl_wrap tr:nth-child(2).holitr1 {
	border:none;
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr:nth-child(2).holitr2 {
	border:none;
	text-align: left;
}
.tbl_common .tbl_wrap tr:nth-child(n+2).holitr3 {
	border:none;
	text-align: left;
	
}
.tbl_common.tbl_basic .tbl_wrap tr td.holitd1 {
	
	text-align: left
}
.tbl_common.tbl_basic .tbl_wrap tr td.holitd2 {
		
	text-align: left
}
.tbl_common.tbl_basic .tbl_wrap tr td.holitd3 {
	text-align: left
}
.tbl_common.tbl_basic .tbl_wrap tr th {
	text-align: center;
}
.main_cnt_holiday {
	margin-left: 14px;
}
.usecheck {
	display: inline-flex;
	margin-left: 15px;
}
.main_cnt_useyn {
	margin-top: 5px;
}
.holiname {
	margin-top: 5px;
}
.holidate {
	margin-top: 5px;
}
.holiyear {
	margin-left: 10px;
	font-weight: bold;
}
.companyup {
	float:left;
}
.com_sav {
	float:left;
	margin-top: 50x;
	margin-bottom: 50px;
}
.com_can {
	float:left;
	margin-top: 50x;
	margin-bottom: 50px;
}
.tbl_common.tbl_basic .tbl_wrap .jobtb  tr td{
	text-align: center;
}

.tbl_common.tbl_basic .tbl_wrap .postb tr td{
	text-align: center;
}
.tbl_common.tbl_basic .tbl_wrap .depttb tr td{
	text-align: center;
}
.wyear {
	width: 50px;
}
.ann_add {
	margin-top: 10px;
}