@charset "UTF-8";

/* nav메뉴바 */

/* 필독, 내가 쓴 글 전체컨테이너 조정  */
.head_menu {
   display: flex;
   text-align: center;
   border-bottom: 1px solid rgba(203, 121, 155, .3);
}

/* 필독 위치 조정 */
.must_read_list {
   position: relative;
   left: 23px;
}

/*내가 쓴 글 위치 조정*/
.my_board {
   position: relative;
   left: 78px;  
}

/* ------------------ nav메뉴바 끝 ------------------ */

/* 게시물 목록 페이지 */

.search_filter, .search {
	padding-top: 100px;
}

.search {
	text-align: right;
	padding-bottom: 10px;
}

/* 필독 */
.read_must {
	color: #fff;
    padding: 8px 0;
	background: #CB7999;
	margin: 20px 0;
	text-align: center;
}

/* 게시글 정보 */
td:nth-of-type(2)>div {
	text-align-last: left;
}

/* 게시글 제목 */
.board_main {
	cursor: pointer;
	font-weight: bold;
	color: #44455B;
}

/* 게시글정보 */
.board_write>span {
	border-right: 1px solid #9899AB;
	padding-right: 7px;
}

/* 게시글정보 위 여백 */
.board_write {
	padding-top: 5px;
	color: #696A7A;
}

/* 조회수부분 오른쪽테두리 제거 */	
.board_write>span:nth-of-type(3) {
	border: none;
	padding: 0;
}

/* 시간표시 */
.board_time {
	color: #696A7A;
	position: relative;
    right: 22px;
}

.tbl_common .tbl_wrap .tbl_ctn .no_must_read {
	text-align: left;
}

.read_must.not {
	background: #fff;
}

.search_filter {
	display: flex;
    justify-content: space-between;
}

.read_must.team_name {
	background: #6382D4;
}

/* ------------------ 게시물 목록 페이지 끝 ------------------ */

/* 게시물 작성 페이지 */
   
   #btnSet {
      text-align: right;
   }
   
   .new_board_head {
   		margin-left: 35px;
   }
   
   #check {
      margin-bottom: 10px;
   }
   
   #kinds>select {
      margin-left: 20px;
   }
   
   #title {
      margin-top: 10px;
      display: flex;
   }

   #title>input {
      margin-left: 70px;
      width: 92%;
   }
   
   .fr-view {
	margin: 30px 0;
    position: relative;
    width: 97%;
    left: 36px;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
	min-height: 200px;
}

.attachment {
	margin-left: 38px;
}

input.upload_text {/*읽기전용 인풋텍스트*/
	float:left;
	width:353px;/* 버튼 포함 전체 가로 길이*/
	height:32px;
	line-height:19px;
	padding:0 3px;
	border:1px solid #bbb;
	margin: 0 8px;
}

div.upload-btn_wrap input.input_file {/*파일찾기 폼 투명하게*/
	position: absolute;
    left: 370px;
    width: 68px;
    cursor: pointer;
    opacity: 0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	-moz-opacity:0;
}

.attActions:nth-child(1) {
	position: relative;
    margin-left: 107px;
    bottom: 31px;
}

.attAction {
	margin-bottom: 9px;
}

.attActions {
	position: relative;
    margin-left: 107px;
    bottom: 31px;
}

button.btn_solid_pink {
	padding: 0 10px;
}

.endBtnSet {
	text-align: right;
	padding-bottom: 100px;
}

#tmp_save {
    min-width: 620px;
}

.tmp_delete {
	margin: 40px 0 20px;
}

.tbl_common.tbl_basic .tbl_wrap .tbl_ctn.tmp_board_tbl tr * {
	text-align: center;
}

/* ------------------ 게시물 작성 페이지 끝 ------------------ */

/* 게시물 상세보기 페이지 */

.btn_set {
	text-align: right;
	border-bottom: 1px solid #CACDD4;
	padding-bottom: 6px;
}
	
.must_read {
	color: #fff;
	background: #CB7999;
	padding: 6px 12px;
}

.title {
	margin-top: 16px;
	padding-left: 10px;
}

.title>span:nth-of-type(2) {
	font-weight: bold;
}

.board_info {
	margin-top: 14px;
	padding-bottom: 25px;
	padding-left: 10px;
	border-bottom: 1px solid rgba(202, 205, 212, .26);
}

.board_info>span {
	padding-right: 7px;
	color: #696A7A;
	border-right: 1px solid #9899AB;
}

.board_info>span:nth-of-type(3) {
	border: none;
}

.fr-view {
	margin-bottom: 50px;
}

.att_info {
	margin-top: 50px;
}

.att_info>span:nth-of-type(1) {
	color: #696A7A;
	border-right: 1px solid #696A7A;
	padding-right: 7px;
}

.btn_save {
	margin-left: 11px;
}

.comment_area {
	margin-left: 36px;
	border-bottom: 1px solid #CACDD4;
	padding-bottom: 40px;
}

.comment_count {
	padding-bottom: 8px;
	margin-top: 40px;
	border-bottom: 1px solid #CACDD4;
}

.comment_and_reply {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(202, 205, 212, .26);
    margin: 25px 24px 0;
}

.btn_reply {
    padding: 0 10px;
}

.comment_wt, .reply_wt {
	margin-bottom: 10px;
}

.reply_wt {
	margin-left: 17px;
}

.time {
	margin-left: 10px;
	font-size: 12px;
	color: #9A9A9A;
}

.comment_content, .reply_content {
	margin-bottom: 14px;
}

.arrow {
	height: 15px;
	padding-left: 17px;
    padding-top: 21px;
}

.reply {
	display: flex;
}

.write_comment_area {
    margin: 25px 24px 0;
    border: 1px solid #CACDD4;
    border-radius: 5px;
}

.write_reply_area {
	margin: 0;
}

.write_reply_area>insert_comment {
	height: 75px;
}

.insert_comment {
	border: 1px solid #fff;
    border-radius: 5px;
    width: 97.5%;
    height: 86px;	
    padding: 0.7em; /* prevents text jump on Enter keypress */
    padding-bottom: 0.2em;
    outline: none;
    overflow: hidden;
}

.btn_area {
	border-top: 1px solid rgba(202, 205, 212, .26);
	text-align: right;
}

.reply_btn_area {
	text-align: left;
}

.btn_comment_add, .btn_reply_cancel {
	margin: 7px;
}

/* ------------------ 게시물 상세보기 페이지 끝 ------------------ */

/* 내 연차 현황 페이지 */

.year {
	display: flex;
	justify-content: center;
}

.past, .futuer {
	cursor: pointer;
	margin: 0 7px;
}

.tbl_common .tbl_wrap .tbl_ctn.tbl_ann tr * {
	text-align: center;
}

.annual_status {
	margin-bottom: 70px;
}

.annual_status * {
	text-align-last: center;
}

.annual_status td:nth-of-type(2), .annual_status td:nth-of-type(3) {
	border: 1px solid #D7DADF;
}

.ann_reason {
	 height: 145px;
	 border: 1px solid rgba(68, 69, 91, .37);
	 padding: 12px 9px;  
	 overflow-y: auto;
}

.close_area {
	text-align: right;
	margin-top: 13px;
}


h4.main_tit {
	margin-bottom: 8px;
}

.absence_status * {
	text-align-last: center;
}

/* ------------------ 내 연차 현황 페이지 끝 ------------------ */

/* 부재설정-부재이력 페이지 */
.add_area {
	border-top: 1px solid #44455B;
	padding: 10px 0;
	margin-top: 70px;
}

.tbl_common .tbl_wrap.abs_table {
	border-top: 1px solid #D7DADF;
}
	
.tbl_common .abs_table .tbl_ctn tr:nth-child(1) {
	border-bottom: 1px solid #44455B;
}

#popDetailAbsence, #popListAbsence {
	max-width: 650px;
}

.absence_status {
	margin-top: 30px;
	min-height: 140px;
}

.tbl_wrap.abs_table * {
    text-align-last: center;
}

.absence_detail {
	margin: 30px 0;
}

.absence_detail * {
	text-align-last: center;
}

/* ------------------ 부재설정-부재이력 페이지 끝 ------------------ */

/* 부재 추가 페이지 */
.tbl_common.tbl_basic .tbl_wrap .tbl_ctn.abs_set tr td:nth-of-type(1) {
	background: #D7DADF;
	padding-left: 36px;
	font-weight: bold;
}

.tbl_wrap.tbl_abs_new * {
	text-align-last: left; 
}

.main_cnt_list.clearfix.abs_peroid {
	display: flex;
}

#datepicker1 {
	margin-right: 7px;
}

#datepicker2 {
	margin-left: 7px;
}

.add_presence {
	padding-top: 20px;
	display: flex;
}

.btn_presence {
	margin-right: 10px;
}

.note {
	width: 350px;
	height: 100px;
}

.btnSet {
	padding-top: 25px;
	padding-bottom: 100px;
}

.abs_cancel {
	padding: 0 20px;
}

.addr_info_pop .desc_wrap.clearfix.in_abs_add {
	padding: 30px 0 47px;
}

/* ------------------부재이력-부재추가페이지 끝 ------------------ */

/* 개인정보 설정페이지 */
.box-file-input label{
    display:inline-block;
    background:#23a3a7;
    color:#fff;
    padding:0px 15px;
    line-height:35px;
    cursor:pointer;
}

.box-file-input label:after{
    content:"파일등록";
}

.main_info {
	display: flex;
	padding-left: 40px;
}

.main_img {
	width: 125px;
	height: 125px;
	border-radius: 65px;
}

.emp_info tr td {
	padding: 20px;
}

.emp_info tr td:nth-of-type(1) {
	font-weight: bold;
	padding-left: 60px;
}

.main_info {
	display: flex;
	padding-left: 40px;
}

.main_img {
	width: 125px;
	height: 125px;
	border-radius: 65px;
}

.emp_info tr td {
	padding: 20px;
}

.emp_info tr td:nth-of-type(1) {
	font-weight: bold;
	padding-left: 60px;
}
 
.file_input_div {
	position: relative;
	left: 27px;
	top: 15px;
}
 
.file_input_button {
	position: absolute;
	top: 0px;
}
 
.file_input_hidden {
	width: 68px;
    font-size: 45px;
    position: absolute;
    right: 56px;
    top: 0px;
    opacity: 0;
 
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

.call_phone {
	text-align: center;
}

#female {
	margin-left: 60px;
}

#btnSet {
	padding-bottom: 100px;
}


/* 암호 설정 페이지 */
.main_pwd {
	width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#container .menu_tit.pwd_tit {
	padding-bottom: 115px;
}

.chg_pwd {
	border-collapse: separate;
    border-spacing: 12px;
}

.chg_pwd_end {
	width: 100%;
}













