@charset "UTF-8";

/*사원관리*/
.ems_btn {float:right; margin-right:5px;}

/* ann_list */
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	font-weight: bold;
	background: #ededed;
	color: #222;
}
.tab-content{ display: none; padding: 15px; border-top: 1px solid #ededed; }
.tab-content.current{ display: inherit; }
.ann_all_btn{ position: absolute; top: -12px; right: 0; }
.tbl_main_tit > th {width:200px;}
.ann_list_main_cnt {margin-bottom:10px}

/* emp_reg */
.insert_btn { display: inline-block; float:right !important; }
#phone {width: 60px;}
#logoImgArea {margin-bottom:20px;}
.emp_reg_pd {padding-right:10px;}

/* emp_reg_up */
.updatePwdBtn {float:right; padding:0 10px; margin: -33px 10px 0;
    width: 106px;}
    
/* ems_updatePwd_pop */
.ems_updatePwd_pop_div1 {padding-top:60px; padding-bottom:60px; position: relative; left: 9%;}
.ems_updatePwd_pop_btn_div {float:right;}
.ems_updatePwd_pop_tbl > tbody > tr td {padding-bottom:10px; padding-right:10px;}
.ems_updatePwd_pop_tbl > tbody > tr input[type='text'] {width:277px;}

/* ann_det */
#member_detail { margin-right:104px; }
.change_year { padding-left: 38%; }

/* ann_allClear */
.ann_allClear_cnt {display:flex;}
.ann_allClear_info_div {max-width:50%;}
.ann_allClear_info_div2 {max-width:50%; position:relative; top:23%; border-top:0;}
.ann_allClear_textarea {width: 678px; height:300px;}
.ann_list_main_cnt_btn {float:right;}
.ann_allClear_info_div2 input[type='number'] {width:50px;}

/* emp_all_reg */
.sample_download { display:inline; }
.accept_btn { float:right; }

/* my_wait_list */
.eas_check {height:13px;} 

.eas_menu_line_select_div {margin-top: 638px; position:fixed; align:center;}
.eas_menu_line_select {color: white; text-align: center; cursor: pointer; position: fixed; left: 30px; top: 95%; font-size: 15px;}
.fa-cog {color: white; font-size: 23px;}
.div2 { position:fixed; position: relative; left: -2%;}

/* new_eas */
.eas_line_information{margin-top: 30px;}
.eas_information.top_eas_information td { padding-bottom: 9px;}
.eas_information tr:nth-child(2) td { padding-bottom: 20px; }
.eas_information tr:nth-child(3) td { padding-bottom: 20px; }
/* .tab-content button, .tab-content a {padding: 0 4px;line-height: 29px;} */
.new_eas_radio { height: 15px; }
.eas_title {width:430px; }
.limit_date {width:200px;}
.tbl_main_tit {font-weight:bold;}
.eas_information_title{font-weight: bold; font-size:17px; padding-right:11px; padding-bottom:2px;}
.eas_information tr td {padding-right:11px;}
.eas_information > tr td { padding_bottom: 20px; }
.new_eas_tbl { padding-bottom: 50px; margin-top:15px; }
.new_eas_tbl2 { padding-bottom: 50px; margin-top:15px; }
.sender_border {border-right:1px solid #f3ecec;}
.far fa-user { font-size: 20px; }
.eas_icon { padding-right: 20px; }
.eas_viewer { border:1px solid #ededed; height: 50px; width: 1475px;}
.security_div {
	display: none;
	height:130px;
	width: 23%;
	position: relative;
    left: 37%;
	border:1px solid lightgray; 
	border-radius:5px; 
	margin-bottom:20px; 
	}
.security_div2 {
    height: 50%;
}
.security_text {
	width: 90%;
}
.gg{padding-top:10px;}

/* 본문 양식 */
.doc_tit{text-align:center !important;}

.eas_tbl_doc { 
	border-top: 2px solid #44455B;
    border-bottom: 2px solid #44455B;
	border-right: 2px solid #44455B;
    border-left: 2px solid #44455B;
    }
.doc_con {
	min-height: 40px;
	border-top: 1px solid #44455B;
    border-bottom: 1px solid #44455B;
	border-right: 1px solid #44455B;
    border-left: 1px solid #44455B;
	}
.eas_tit {
	height: 50px;
}
.small {
	border-right: 2px solid #44455B;
}
.border_bottom {
	border-bottom: 2px solid #44455B;
}
.gray {
	border-bottom: 1px solid lightgray;
}
.eas_content {
	border-top: 2px solid #44455B;
	border-bottom: 1px solid #44455B;
	border-right: 1px solid #44455B;
	border-left: 1px solid #44455B;
}
/* 새 기안 신청 내 모달들 */
#eas_fileadd_pop {
	max-width:1000px;
	height:840px;
}
.pop_year_select {
	text-align: right;
    padding-right: 10px;
}
.eas_pager_wrap{padding: 25px 0;text-align: center;}
.eas_pager_wrap .pager_com{display:inline-block;width: 36px;margin: 0 2px;border: 1px solid #44455B;border-radius: 4px;}
.eas_pager_wrap .pager_num.on{background-color: #44455B;}
.eas_pager_wrap .pager_com a{padding: 9px 0;text-align: center;color: #44455B;transition: 0.25s;}
.eas_pager_wrap .pager_com a:hover{color: #fff;background-color: #44455B;transition: 0.25s;}
.eas_pager_wrap .pager_num.on a{color: #fff;}

.eas_pop_tbl {
	width:970px;
	height:500px;
	overflow: auto;
}

.eas_pop_padding_div { padding-top: 8px;}
#eas_pop_tabs {margin-top:15px;}
.eas_tab-content{ display: none;  padding-top:10px; padding-right:0; padding-left:0; padding-bottom:0;  border-top: 1px solid #ededed; }
.eas_tab-content.current{ display: block; }
ul.eas_tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
}
ul.eas_tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.eas_tabs li.current{
	font-weight: bold;
	background: #ededed;
	color: #222;
}
.pop_input {width:150px;}
.pop_selectbox {width:100px;}
.eas_pop_btn_div {float:right;}
.fa-user {font-size: 18px;}
.eas_pop_top1 {display:flex; border-top: 1px solid #44455B; border-bottom: 1px solid #c7c7c7; height:38px;}
.eas_pop_top_tit {padding-top:7px; font-weight: bold; width:187px; }
.eas_pop_top_select {padding-left:654px; padding-top:3px;}
.eas_pop_top2 {padding-top:5px; padding-bottom:5px; display:flex; border-bottom: 1px solid #c7c7c7;}
.eas_pop_top_btn {padding-left: 67px;}

/* my_wait_det_up */
.doc_con > input[type="text"] { width:600px; }

/* eas_record_pop */
#eas_record_pop { max-width: 720px; height: 500px; }
.eas_record_pop_top {margin-top:10px;}
.eas_record_pop_btn_div {position: relative; top: 265px; left: 78%;}

#eas_record_pop_view { max-width:1000px;}
.eas_record_pop_view_doc {display:block; border-top:0;}
.eas_record_pop_view_doc_tit { font-size: 40px; font-weight: bold; text-align: center; }

#eas_record_pop_compare { max-width: 1190px; }
.eas_record_pop_compare_div {width: 1190px; height: 700px;}
.eas_record_pop_compare_tbl {
	position: relative;
    top: 7%;
	height: 580px;
    border-top: 1px solid #44455B;
    border-bottom: 1px solid #44455B;
    width: 1160px;
    margin-top: 10px;}
.eas_record_pop_compare_tbl tr:first-child { text-align: center; height: 50px; border-bottom:1px solid lightgray; }
.eas_record_pop_compare_tbl tr td:first-child { border-right: 1px solid lightgray; }

/* 새 기안서식 모달 */
.addr_de_pop_ctn .eas_addr_dept_pop_ctn {width:239px;}
.addr_de_pop_ctn .eas_addr_info_pop_ctn {float: left; width: calc(100% - 251px);}
.eas_addr_info_pop {padding-bottom:72px;}
.eas_name_cnt {font-size:15px;}
.eas_pop_tit {margin-bottom:5px;}
.addr_info_pop_ctn .eas_line_select_div {width: calc(100% - 50px);}
.eas_line_select_div_tbl tr th {padding-right:10px; padding-bottom:10px; border-bottom:1px solid lightgray;}
.eas_line_select_div_tbl tr td {padding-right:10px;padding-top:5px; padding-bottom:5px;}
.new_eas_addr_pop_btn {padding: 0px 4px;}
.addr_info_pop .top0 {padding-top: 0px;}


