@charset "utf-8";

/* tree api */
#container ul.fancytree-container{background-color: transparent;border: none;}
#container span.fancytree-title{color: #fff;font-size: 16px;}
#container span.fancytree-node{padding-bottom: 5px;margin-top: -1px;}
#container .ui-fancytree:focus{outline: none;}
#container .fancytree-lastsib:focus{outline: none;}
#container span.fancytree-title:focus{outline: none;}
#container span.fancytree-title:hover{color: #CB7999;font-weight: bold;transition: 0.25s;}
#container #fancytree-drop-marker, #container span.fancytree-checkbox, #container span.fancytree-drag-helper-img, #container span.fancytree-empty, #container span.fancytree-expander, #container span.fancytree-icon, #container span.fancytree-vline{background-image: url(../images/icons.gif);}
#container span.fancytree-active span.fancytree-title, #container span.fancytree-selected span.fancytree-title{background-color: transparent;}
#container .fancytree-treefocus span.fancytree-active span.fancytree-title, #container .fancytree-treefocus span.fancytree-selected span.fancytree-title{color: #CB7999;background-color: transparent;outline: none;}


.addr_sel_wrap{position: relative;}
.addr_sel_wrap .add_sel_opt{display: none;position: absolute;top: 100%;left: 0;padding: 12px 10px 4px;width: 180px;border: 1px solid #CACDD4;border-radius: 5px;background-color: #fff;}
.addr_sel_wrap .add_sel_ipt{width: 202px;cursor: pointer;}
#container .addr_sel_wrap span.fancytree-title{color: #44455B;font-size: 15px;}


.addr_de_pop_wrap ul.fancytree-container{background-color: transparent;border: none;}
.addr_de_pop_wrap span.fancytree-title{color: #fff;font-size: 16px;}
.addr_de_pop_wrap span.fancytree-node{padding-bottom: 5px;margin-top: -1px;}
.addr_de_pop_wrap .ui-fancytree:focus{outline: none;}
.addr_de_pop_wrap .fancytree-lastsib:focus{outline: none;}
.addr_de_pop_wrap span.fancytree-title:focus{outline: none;}
.addr_de_pop_wrap span.fancytree-title:hover{color: #CB7999;font-weight: bold;transition: 0.25s;}
.addr_de_pop_wrap #fancytree-drop-marker, .addr_de_pop_wrap span.fancytree-checkbox, .addr_de_pop_wrap span.fancytree-drag-helper-img, .addr_de_pop_wrap span.fancytree-empty, .addr_de_pop_wrap span.fancytree-expander, .addr_de_pop_wrap span.fancytree-icon, .addr_de_pop_wrap span.fancytree-vline{background-image: url(../images/icons.gif);}
.addr_de_pop_wrap span.fancytree-active span.fancytree-title, .addr_de_pop_wrap span.fancytree-selected span.fancytree-title{background-color: transparent;}
.addr_de_pop_wrap .fancytree-treefocus span.fancytree-active span.fancytree-title, .addr_de_pop_wrap .fancytree-treefocus span.fancytree-selected span.fancytree-title{color: #CB7999;background-color: transparent;outline: none;}
.addr_de_pop_wrap span.fancytree-title{color: #44455B;font-size: 15px;}

